body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* slider css fix */

.carousel-root{
  height: 100%;
}

.image-slider{
  width: 45%;
  max-height: 450px;
  border: 1px solid red;
  overflow: hidden;
}

.tshirt-carousel{
  width: 100%;
  height: 100%;
}